body{
  background:var(--background);
}
.appHeader {
  display:flex;
  align-items: center;
}
.pokedexLogo {
  flex-grow:1;
  padding: 48px 0 18px 36px;
}
.pokedexLogo img {
  width:332px;
  height:120px;
}
button {
  border-radius: 100px;
  border-color: transparent;
  font-size:18px;

}